.blogdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  font-size: 20px;
}
p {
  color: #9aa5b1;
  font-weight: 500;
}
li {
  list-style: none;
}
hr {
  border: 1px solid #9aa5b1;
}
